html {
  font-size: 15px;
}

body {
  margin: 0;

  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  line-height: 1.1;
  color: #000;

  background-color: #fff;

  overflow-x: hidden;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p, li {
  margin-bottom: .5rem;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

section {
  padding: 1rem 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.main {
  padding-left: 350px;
  width: 100%;
}

.title {
  margin-bottom: 2rem;
}